@import "tailwindcss";

@theme {
  /* Setup warna background utama */
  --color-dark-bg: #07090F;

  /* Setup font utama */
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
}

html {
  scroll-behavior: smooth;
}
